{% extends "FrontCodingEquasiaBundle::layout.html.twig" %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('client') }}">Client</a>
        <span class="divider"></span>
    </li>
    <li>Client creation</li>
{% endblock %}

{% block pagetitle %}Client creation{% endblock %}

{% block nav %}
    {% include "FrontCodingEquasiaBundle:Client:nav.html.twig" %}
{% endblock %}

{% block content -%}
    <h1>Client creation</h1>

    {{ form(form) }}

    <a href="{{ path('client') }}" class="btn btn-primary btn-lg">
        Back to the list
    </a>
{% endblock %}
