{% extends "FrontCodingEquasiaBundle::layout.html.twig" %}

{% block pagetitle %}Dashboard{% endblock %}

{% block breadcrumb %}
    <li>Dashboard</li>
{% endblock %}

{% block content -%}
  Welcome!
{% endblock %}