{% extends "FrontCodingEquasiaBundle::layout.html.twig" %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('jurisdiction') }}">Jurisdiction</a>
        <span class="divider"></span>
    </li>
    <li>Jurisdiction creation</li>
{% endblock %}

{% block pagetitle %}Jurisdiction creation{% endblock %}

{% block nav %}
    {% include "FrontCodingEquasiaBundle:Jurisdiction:nav.html.twig" %}
{% endblock %}

{% block content -%}

    <h1>Jurisdiction creation</h1>

    {{ form(form) }}

    <a href="{{ path('jurisdiction') }}" class="btn btn-primary btn-lg">
        Back to the list
    </a>

{% endblock %}
